<template name="add">
  <div class="ui container">
    Add a Rig

    <div class="ui large form">
      <div class="fields">
      </div>
        <div class="field">
          <label class="ui label hidden">Manufacturer</label>
          <input placeholder="Manufacturer" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Model</label>
          <input placeholder="Model" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Serial #</label>
          <input placeholder="Serial #" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">MFR. Date</label>
          <input placeholder="MFR. Date" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Type</label>
          <input placeholder="Type" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">MARD</label>
          <input placeholder="MARD" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Main Lift Web</label>
          <input placeholder="Main Lift Web" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Leg Pads</label>
          <input placeholder="Leg Pads" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Stabilizer (waist)</label>
          <input placeholder="Stabilizer (waist)" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">RSL</label>
          <input placeholder="RSL" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden">Reserve Ripcord</label>
          <input placeholder="Reserve Ripcord" type="text">
        </div>
        <div class="field">
          <label class="ui label hidden"></label>
          <input placeholder="" type="text">
        </div>
      
      <div class="ui warning message">
        <div class="header">Could you check something!</div>
        <ul class="list">
          <li>That e-mail has been subscribed, but you have not yet clicked the verification link in your e-mail.</li>
        </ul>
      </div>
      <div class="ui submit button">Submit</div>
    </div>
  </div>
</template>